body	{
	background-image:url(../images/fond.jpg);
	background-repeat:repeat;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	margin-left:10px;
	margin-right:10px;
	font-size:12px;
	margin:0 auto;
	padding-left:auto;
	padding-right:auto;
	size:1000px;
}
a , .alink {
	color: blue;
	text-decoration: underline;
}

a:active , .alink:active{
	color: blue;
	text-decoration: none;
}

a:link ,.alink {
	color: blue;
	text-decoration: underline;
}

a:visited ,.alink:visited{
	color: blue;
	text-decoration: none;
}

a:focus,.alink:focus {
	color: blue;
	text-decoration: none;
}

a:hover, .alink:hover {
	color: blue;
	text-decoration: none;
}
#all	{
	/*size:900px;*/
	width: 960px;
	background-color:#FFFFFF;
	text-align:center;
	margin: 0 auto;
}
#header	{
	font-family:"Times New Roman", Times, serif;
	height: 250px;
	overflow: hidden;
}
.style1 {
	font-family: "Times New Roman";
	font-size: 12px;
	color: #BB6A3F;
	font-weight: bold;
}
.style2 {
	font-family: "Lucida Calligraphy", Times, serif;
	font-size: 40px;
	font-weight: bold;
	color: #784f3b;
	text-align:left;
}
.style3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #9A7853;
	font-weight: bold;
}
.style4 {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #9A7853;
	font-weight: bold;
}
.style5 {
color: #784F3B
}
.style7 {
	font-family: "Lucida Calligraphy", Times, serif;
	font-size: 20px;
	font-weight: bold;
	color: #784f3b;
	text-align:left;
}
.style8 {
	font-family: "Lucida Calligraphy", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #784f3b;
	text-align:left;
}
.style9 {
	/*font-family: "Lucida Calligraphy", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #784f3b;
	text-align:left;*/
}
.style10 {
	font-family: "Lucida Calligraphy", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #784f3b;
	text-align:left;
}
#langue ul li a{
	color: #9A7853;
	font-size:12px;
	font-weight:bold;
}

ul.eto>li{
	margin-left: -55px;
}

.nav {
	background:url(../images/sub_banner.jpg);
	width:100%;
	margin:auto;
	margin-bottom:10px;
	}
.nav  ul{
	/*width:80%;*/
	height:49px;
	margin:0 0 0 28px;
}
.nav  img{
	position: absolute;
	right: -11px;
	top: -16px;
}
.nav ul li{
	float:left;
	padding:0px 10px;
}
.nav ul li.first{
	margin-left:9px;
}
.nav ul li a{
	height: 49px;
	line-height: 49px;
	text-decoration: none;
	color: #FFFFFF;
	font-size:19px;
	font-style:italic;
	font-weight:bold;
}

.style6{
	color: #fff !important;
	}

.box{
  width: 30%;
  /* margin-top: 113px; */
  text-align: left;
  padding: 15px 0 0 18px;
  margin-left: -630px;
  color:#000;
  background :#fff;
  font-size: 15px;
  margin-top: 250px;
}

.titre{
	text-decoration:none;
	font-stretch:ultra-condensed;
	color:#ffffff;
	font-size:19px;
	font-weight:bold;
	text-align:center;
}
.filazana a{
	text-decoration:underline;
	color:#3300CC;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.filazana2 a{
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#FFFFFF;
}
.titrepage{
	text-decoration:none;
	font-stretch:ultra-condensed;
	font-size:19px;
	font-weight:bold;
	text-align:center;
}
.titrepage2{
	text-decoration:none;
	font-stretch:ultra-condensed;
	font-size:14px;
	font-weight:bold;
	text-align:center;

}
.titrepage a{
	text-decoration:none;
	font-stretch:ultra-condensed;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration:underline;
}
.titreindex a{
	font-family: "ALGERIAN";
	color: #3300CC;
	font-size:30px;
	text-decoration:underline;
}
.titreindex {
	font-family: "time new roman";
	text-decoration: none;
	color:#660000;
	font-size:22px;
	float: left;
}
.titre a{
	text-decoration: none;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;

	}
.langue a{
	text-decoration: none;
	color:#9A7853; 
	font-size:14px;
	font-weight:bold;
	}
.footnav a{
	text-decoration: none;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	}
#content{
	width:100%;
	margin:auto;
	margin-bottom:10px;
}
#contenu{
	margin-bottom:10px;
	background-image:url(../images/antananarivo2.jpg);
	background-repeat: repeat-x 0;
}
#contenuindex{
	margin-bottom:10px;
}
#foot{
	width:100%;
	margin:auto;
	margin-bottom:10px;
}
#footer{
	background-color:#996633;
	width:100%;
	margin:auto;
	margin-bottom:10px;
	color:#000000;
	font-size:14px;
	}	