<p><strong><u>N.B. Les petits-enfants et arri&egrave;re-petits-enfants n'apparaissent  pas ici. Si vous souhaitez les voir ou les revoir,&nbsp;veuillez vous&nbsp;reporter aux diff&eacute;rentes pages  indiquant&nbsp;</u></strong><strong><u><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/page1.php">les organigrammes de chaque famille.</a></u></strong></p>
<p><strong><u><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/page1.php"><br>
</a></u></strong></p>
<p><br>
  <strong>Les descendants de&nbsp;Simplice&nbsp;RAZAFINDRAZAKA,</strong> <br>
fils&nbsp;de ANDRIATSARAFARA, lequel est le fr&egrave;re de RAFARAVAVY  RASALAMA, alias &quot;RASALAMA MARTIORA&quot;.<strong>&nbsp;</strong>RASALAMA  MARTIORA est donc la tante de&nbsp;Simplice&nbsp;RAZAFINDRAZAKA. </p>
<p>&nbsp;</p>
<p><strong><u>Simplice</u></strong><strong><u>&nbsp;RAZAFINDRAZAKA&nbsp;  et&nbsp;Rtoa&nbsp;RAZANABAHOAKA  eurent 3 enfants:</u></strong> <br>
  <strong>RAKOTOVAO</strong> <br>
  <strong>ANDRIANTSEHENO</strong> <br>
  <strong>RAVAONIRINA (dite &quot;Nenivao&quot;)</strong>. </p>
<p>&nbsp;</p>
<p><strong><u>RAKOTOVAO  et&nbsp;Rtoa&nbsp;RAKETAMANGA  eurent 6 enfants:</u></strong> <br>
  <strong>Justin RAZAKA</strong> <br>
  <strong>Berthine</strong><strong>&nbsp;RAZAFINDRAFARA</strong> <br>
  <strong>Juliette RATSIORIMISA</strong> <br>
  <strong>RAKOTO BERT</strong> <br>
  <strong>Jeannette RASOANALIMANANA</strong> <br>
  <strong><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">Joseph RAVALISON</a>.</strong></p>
<p>&nbsp;</p>
<p><strong><u>ANDRIANTSEHENO  et&nbsp;Rtoa&nbsp;RAMIRA  eurent 1 enfant:</u></strong> <br>
  <strong>Paul RANAIVO.</strong></p>
<p>&nbsp;</p>
<p><strong><u>Rtoa</u></strong><strong><u>&nbsp;RAVAONIRINA  (&quot;Nenivao&quot;)  et RAKOTOLAHY:</u></strong> <br>
  <strong>Pas de descendants</strong> </p>
<p><br>
  _________________________________________ </p>
<p>&nbsp;</p>
<p><strong style="font-size:20px;"><u>A.  LES DESCENDANTS DE RAKOTOVAO et&nbsp;Rtoa&nbsp;RAKETAMANGA&nbsp;</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>I. Justin RAZAKA et RAZANADRAIBE eurent 8 enfants:</u></strong> <br>
  <strong>Justine RATSARAIBE</strong> <br>
  <strong><a href="LalanirinaRAZANADRAIBE.php">Charles RAZAFINDRAKOTO</a></strong> <br>
  <strong>Louise RAZAFITSARA</strong> <br>
  <strong>Henriette RAZAFINDRAKETAKA</strong> <br>
  <strong>Claire RAHARISOA</strong> <br>
  <strong>Clarice RAFARASOA</strong> <br>
  <strong>Suzanne RAHARILINA</strong> <br>
  <strong>Marcel RAZAKA-RAZORILINA.</strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>II.&nbsp;Berthine&nbsp;RAZAFINDRAFARA  et Jean-Baptiste RAJAONARIVELO eurent 1 enfant:</u></strong> <br>
  <strong>Denise Jeanne RAJAONARIVELO.</strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>III. Juliette RATSIORIMISA et Justin RANARISON eurent 3 enfants:</u></strong> <br>
  <strong>Edmond RAKOTOVAO</strong> <br>
  <strong>Jeanne RAHARISOA</strong> <br>
  <strong>Raymond RAHARISON.</strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>IV. RAKOTO BERT et Marguerite RAZAFINDRATAVY eurent 2 enfants</u></strong> <br>
  <strong><a href="rakotobert.html">Willy RAMIRASON</a></strong> <br>
  <strong><a href="rakotobert.html">M&eacute;d&eacute;ric REALISON</a></strong></p>
<p>&nbsp;</p>
<p><strong><u>RAKOTO BERT et&nbsp;Meltine  RAZAFIARISOA&nbsp;(&eacute;pouse en 2ndes noces) eurent 2 enfants:</u></strong></p>
<p><strong><a href="rakotobert.html">Richard RABEMANANJARA</a></strong> <br>
  <strong><a href="rakotobert.html">Clark RAZAKASOA</a></strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>V. Jeannette RASOANALIMANANA et&nbsp;Fredy&nbsp;RAJAOFERA eurent 1 enfant:</u></strong> <br>
  <strong>Lucienne RAFERAHARISOA</strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>VI.&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">Joseph RAVALISON</a>&nbsp;et  F&eacute;licie RANOROSOA eurent 4 enfants:</u></strong> <br>
  <strong>William RAVALISON</strong> <br>
  <strong>L&eacute;on RAVALISON</strong> <br>
  <strong>Yvonne Laurette RAVALISON</strong> <br>
  <strong>Simone Odette RAVALISON</strong> </p>
<p><br>
  __________________________________________ </p>
<p>&nbsp;</p>
<p><strong><u>I. LES DESCENDANTS de JUSTIN RAZAKA et RAZANADRAIBE</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>1. Justine RATSARAIBE et Ignace RAKOTOMAVO eurent 8 enfants:</u></strong> <br>
Samuel RAKOTONDRAZAKA  ANDRIAMIAKATRA, Jean Roussel ANDRIAMIAKATRA, Lucie Berthe RAZAFINDRAINIBE,  Julie C&eacute;line RATSIORY, Victorine Ang&eacute;line RAZAFIARISOA, Christine Agn&egrave;s  RAZAFINDRAFARA, Monique Yvonne RAKOTOMAVO, L&eacute;a&nbsp;Volasoa&nbsp;ANDRIAMIAKATRA RAKOTOMAVO.</p>
<p>&nbsp; </p>
<p><strong><u>2. <a href="LalanirinaRAZANADRAIBE.php">Charles RAZAFINDRAKOTO et Simonette Marcelle RAHARIMALALASOA</a> eurent 4 enfants:</u></strong> <br>
Lalanirina&nbsp;RAZANADRAIBE, Honor&eacute;&nbsp;Zakanirina&nbsp;RAZAFITSIAROVANA,  Jean-Charles RAZAFINDRAKOTO, Hubert RAKOTOVAO. </p>
<p>&nbsp;</p>
<p><strong><u>3. Louise RAZAFITSARA et Lucien RAZAFINDRALAMBO eurent 6 enfants:</u></strong> <br>
Auguste RAZAFINDRALAMBO, Lala  RAZAFINDRALAMBO, Raymond RAZAFINDRALAMBO, Roger RAZAFINDRALAMBO, R&eacute;mi  RAZAFINDRALAMBO, Pierre RAZAFINDRALAMBO. </p>
<p>&nbsp;</p>
<p><strong><u>4. Henriette RAZAFINDRAKETAKA et RAKOTOARIVELO&nbsp;</u></strong> <br>
  Pas de descendants. </p>
<p>&nbsp;</p>
<p><strong><u>5. Claire RAHARISOA et Jacques RABARIJAONA eurent 2 enfants:</u></strong> <br>
  Julia RASENDRASOA, Rachel  RAZANADRAIBE. </p>
<p>&nbsp;</p>
<p><strong><u>6.&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Izy_7_mianadahy_ANDRIAMANANA.php">Clarice RAFARASOA et Denis ANDRIAMANANA</a>&nbsp;eurent  9 enfants:</u></strong> <br>
Rodin ANDRIAMANANA, Jocelyne  Aim&eacute;e ANDRIAMANANA, Fleury Odette ANDRIAMANANA, Guy G&eacute;rard ANDRIAMANANA, Eliane  Brigitte ANDRIAMANANA, Alain Michel Lucien ANDRIAMANANA, Serge Patrick  ANDRIAMANANA, Eddy Franck ANDRIAMANANA, Jean Mamy ANDRIAMANANA. </p>
<p>&nbsp;</p>
<p>Veuillez&nbsp;cliquer&nbsp;ici&nbsp;&nbsp;<a href="http://www.ronsard-andriamanana.globalvision.mg/fr/famille-ronsard-andriamanana/famille-denis-andriamanana.html"><strong>http://www.ronsard-andriamanana.globalvision.mg/fr/famille-ronsard-andriamanana/famille-denis-andriamanana.html</strong></a> <br>
  pour&nbsp;de&nbsp;plus&nbsp;amples&nbsp;informations. </p>
<p>&nbsp;</p>
<p>&nbsp; </p>
<p><strong><u>7. Suzanne RAHARILINA eut 10 enfants:</u></strong> <br>
Suzette Michelle RAJAONARIVONY,&nbsp;Andr&eacute; Georges Jocelyn  RAJAONARIVONY,&nbsp;Sylvie Ir&egrave;ne RAMBOARINA,&nbsp;Solange RAMANANJANAHARY,&nbsp;SahondraRAMANANJANAHARY,&nbsp;Volasoa&nbsp;Suzanne  RAMANANJANAHARY,&nbsp;Volamamy&nbsp;Suzy  RAMANANJANAHARY,&nbsp;Simone Flore ANDRIANTSARA,&nbsp;Joella&nbsp;SaholyLantonirina&nbsp;ANDRIANARIVELO,&nbsp;Alain  RAKOTOARIVELO. </p>
<p>&nbsp;</p>
<p><strong><u>8. Marcel RAZAKA RAZORILINA et&nbsp;Manana&nbsp;RAMANAMBONINA ===&gt; 3 enfants:</u></strong> <br>
  Marcellin&nbsp;ANDRIANTSEHENO RAZAKAMAHEFA,&nbsp;Toky&nbsp;RAZAKAMAHEFA,&nbsp;Harizaka&nbsp;Tantely&nbsp;RAMANAMBONINA. </p>
<p>&nbsp;</p>
<p><br>
  --------------------------------------------------------------------- </p>
<p><strong><u>II. LES DESCENDANTS de&nbsp;Berthine&nbsp;RAZAFINDRAFARA et Jean-Baptiste  RAJAONARIVELO</u></strong></p>
<p><strong><u>1. Denise Jeanne RAJAONARIVELO et Raymond ANDRIAMASINORO eurent 6  enfants</u></strong>: <br>
  Raymonde ANDRIAMASINORO,  Colette ANDRIAMASINORO,&nbsp;Voahangy&nbsp;ANDRIAMASINORO,  Lala ANDRIAMASINORO, Odile ANDRIAMASINORO, Marc ANDRIAMASINORO. </p>
<p><br>
  --------------------------------------------------------------------- </p>
<p><strong><u>III. LES DESCENDANTS de Juliette RATSIORIMISA et Justin RANARISON</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>1. Edmond RAKOTOVAO et Pauline RAZANAMALALA eurent 4 enfants:</u></strong> <br>
Louis RAKOTOVAO, Olga  RANARISON, Gis&egrave;le RANARISON, Ginette RANARISON. </p>
<p>&nbsp;</p>
<p><strong><u>2. Jeanne RAHARISOA et Pierre RAZAKANDRAINIBE eurent 4 enfants:</u></strong> <br>
Jean RAZAKANDRAINIBE, Guy  RAZAKANDRAINIBE, G&eacute;rard RAZAKANDRAINIBE, Danielle RAZAKANDRAINIBE. </p>
<p>&nbsp;</p>
<p><strong><u>3. Raymond RAHARISON et Gis&egrave;le RAZANAPARANY eurent 5 enfants:</u></strong> <br>
  Michelle RANARISON, Raymond  Pierre RANARISON, Franck Johny Harison RAZANAPARANY, Maryse RAHARISON, Mamy  RAHARISON. </p>
<p><br>
  ------------------------------------------------------------------------- </p>
<p>&nbsp;</p>
<p><strong><u>IV. LES DESCENDANTS de RAKOTO BERT et Marguerite RAZAFINDRATAVY:</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>1. <a href="rakotobert.html">Willy RAMIRASON</a> et Henriette RASOARIVELO eurent 7 enfants:</u></strong> <br>
  <strong>Mira RABEARIVELO, Prisca RASOARIVELO, Martial RABEARIVELO, Brice  RABEARIVELO, Dina RAMIRASON,&nbsp;Mirana&nbsp;RABEARIVELO, Lala RAZAFINDRATAVY.</strong></p>
<p>&nbsp;</p>
<p><strong>2.&nbsp;<u><a href="rakotobert.html">M&eacute;d&eacute;ric REALISON</a> et Jeanne Aim&eacute;e RAKOTOMALALATIANA  eurent 5 enfants:</u></strong> <br>
  <strong>Mambinitsoa</strong><strong>&nbsp;REALISON,&nbsp;Nirinarivo&nbsp;REALISON,&nbsp;Panarivoson&nbsp;REALISON,&nbsp;Tokimanarivo&nbsp;REALISON,&nbsp;Falimananarivo&nbsp;REALISON.</strong></p>
<p>&nbsp;</p>
<p><strong><u>LES DESCENDANTS de RAKOTO BERT et&nbsp;Meltine RAZAFIARISOA&nbsp;(&eacute;pouse en 2ndes noces)&nbsp;</u></strong> <br>
  <strong>1. <a href="rakotobert.html">Richard RABEMANANJARA</a> et  ............................................................................</strong> <br>
  <strong>2. <a href="rakotobert.html">Clark RAZAKASOA</a> et  .......................................................................................</strong> </p>
<p><br>
  ------------------------------------------------------------------------- </p>
<p>&nbsp;</p>
<p><strong><u>V. LES DESCENDANTS de Jeannette RASOANALIMANANA et&nbsp;Fredy&nbsp;RAJAOFERA:</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>1. Lucienne RAFERAHARISOA et Mamy Antonin RAMAROVELO eurent 6  enfants:</u></strong> <br>
  Jacques Fred RAMAROVELO,  Jeanine RAMAROVELO, Bruno RAMAROVELO, Gabin RAMAROVELO, Alain RAMAROVELO, Anne  Marie RAMAROVELO. </p>
<p>&nbsp;</p>
<p>Cliquer ici&nbsp;<a href="http://rainizafimanga.free.fr/fr/Arbre/RAJAOFERA/br7_rajaoferaFredy.htm"><strong>http://rainizafimanga.free.fr/fr/Arbre/</strong><strong>RAJAOFERA/br7_rajaoferaFredy.</strong>html</a> <br>
  pour&nbsp;de plus amples  informations. </p>
<p>&nbsp;</p>
<p>------------------------------------------------------------------------ </p>
<p>&nbsp;</p>
<p><strong><u>VI.  LES DESCENDANTS de&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">Joseph RAVALISON</a>&nbsp;et  F&eacute;licie RANOROSOA:</u></strong></p>
<p><strong>1. William RAVALISON + Odette R ===&gt; 6 enfants:</strong> <br>
  <strong>Noro, Guy, Sarah, M&eacute;mie, Yvon, Ninie.</strong></p>
<p>&nbsp;</p>
<p><strong>2. L&eacute;on F&eacute;lix RAVALISON et Charlotte RANOROSOA ===&gt; 3 enfants:</strong> <br>
  <strong>L&eacute;a RASOARISOA, Olivier RABARINIRINA, &nbsp;Hery ANDRIAMBOAVONJY.</strong></p>
<p>&nbsp;</p>
<p><strong><u>3. Yvonne Laurette RAVALISON et Emilien Richard RASOLOMAMONJY  ===&gt; 2 enfants:</u></strong> <br>
  Nicole RAHARINIRINA, Sylvia  RANOROSOA. </p>
<p>&nbsp;</p>
<p><strong>4. Simone Odette RAVALISON et Ren&eacute; RAHAJASON ===&gt; 3 enfants:</strong> <br>
  <strong>Danny RAHAJASON, &nbsp;Julci&egrave;re RAHAJASON, Eva RAHAJASON.</strong> <br>
  </p>
<p><strong><br>
  </strong> <br>
  <strong>------------------------------------------------------------------------</strong> <br>
  <strong><br>
  </strong></p>
<strong style="font-size:20px;">B. LES DESCENDANTS&nbsp;de ANDRIANTSEHENO&nbsp;et&nbsp;Rtoa&nbsp;RAMIRA:</strong>
<p>&nbsp;</p>
<p><strong><u>I.  Paul RANAIVO et RAFARA eurent 6 enfants:</u></strong></p>
<p><strong>H&eacute;l&egrave;ne RAVAOARINERA, Gabriel ANDRIANTSEHENO, &nbsp;Rtoa&nbsp;RAVALINISA,&nbsp;Jaona&nbsp;RAKOTOVAO,&nbsp;Rtoa&nbsp;RAHARIMISA,  Samuel ANDRIAMIZAKA.</strong></p>
<p>&nbsp;</p>
<p><strong><u>1.  H&eacute;l&egrave;ne RAVAOARINERA et Joseph RABETSIMIALONA eurent 5 enfants:</u></strong></p>
<p><strong>Ren&eacute; RABETSIMIALONA, Jean Emmanuel RABETSIMIALONA, Raymond  RABETSIMIALONA,&nbsp;Clermond&nbsp;RABETSIMIALONA,&nbsp;Perlyss&nbsp;Malalatiana&nbsp;RAVAOARINIRINA.</strong></p>
<p>&nbsp;</p>
<p><strong><u>2.  Gabriel ANDRIANTSEHENO et RAMASIARIVELO eurent 6 enfants:</u></strong></p>
<p><strong>Jacqueline RAMASISAHONDRA  ANDRIANTSEHENO,&nbsp;</strong><strong>Raphael Lalao RAMASY  ANDRIANTSEHENO,&nbsp;Dorette Saholiarifara RAMASY ANDRIANTSEHENO,&nbsp;Mamiharisoa  D&eacute;sir&eacute;e RAMASY ANDRIANTSEHENO,&nbsp;Verosarindra Gabrielle RAMASY  ANDRIANTSEHENO,&nbsp;Nivosarindra Gabine RAMASY ANDRIANTSEHENO</strong></p>
<p>&nbsp;</p>
<p><strong><u>3.&nbsp;Rtoa&nbsp;RAVALINISA et  Pasteur RAKOTONDRAVOHITRA eurent 4 enfants:</u></strong></p>
<p><strong>Charlotte RATSIVERIHANTA (dite &quot;Bako&quot;), Lucien  RAKOTONDRAVOHITRA, Daniel RAKOTONDRAVOHITRA, Mariette RAMIHANTAHARISOA.</strong></p>
<p>&nbsp;</p>
<p><strong><u>4.&nbsp;Jaona&nbsp;RAKOTOVAO et&nbsp;Jeannelle&nbsp;RAZAIARISOA  eurent 7 enfants:</u></strong></p>
<p><strong>Jaona</strong><strong>&nbsp;Michel RAKOTOVAO, Lala Monique RANIVOARISOA, Liliane&nbsp;Holisoa&nbsp;RAVAOARIMANGA,  L&eacute;a Nivo RAFARATIANA, Lydia Ginette RAZAIARISOA,&nbsp;Liva&nbsp;Jeannelle&nbsp;RASOAZANANY,&nbsp;Mbolatiana&nbsp;RAKOTOVAO.</strong></p>
<p>&nbsp;</p>
<p><strong><u>5.&nbsp;Rtoa&nbsp;RAHARIMISA et  Charles RANDRIAMBOLOLONA eurent 6 enfants:</u></strong></p>
<p><strong>Charlotte RAHARIVOLOLONA, Ernest RANDRIAMBOLOLONA, Aim&eacute;e  RAVOLONONTSOA, Charline RASOARIVOLOLONA, C&eacute;lestin ANDRIAMBOLOLONA, RASALAMA  RAVOLOLOMBOAHANGY.</strong></p>
<p>&nbsp;</p>
<p><strong><u>6.  Samuel ANDRIAMIZAKA&nbsp;</u></strong></p>
<p><strong>Pas de descendants.</strong></p>
<p>&nbsp;</p>
<p>-----------------------------------------------------------------</p>
<p>&nbsp;</p>
<p><strong style="font-size:20px;">C.&nbsp;Rtoa&nbsp;RAVAONIRINA  (dite &quot;Nenivao&quot;)  et RAKOTOLAHY</strong></p>
<p><strong>Pas de descendants.</strong></p>
</strong>