<p>
1) ANDRIANJOHANY <br>
2) RAKOTOVAO / SIMPLICE RAZAFINDRAZAKA / RAVAONIRINA / RAMIRA.
<br/>
3) JUSTIN RAZAKA / BERTHINE RAZAFINDRAFARA / JULIETTE RATSIORIMISA / RAKOTO BERT / JEANNETTE RASOANALIMANANA / JOSEPH RAVALISON / HELENE RASOANANTENAINA / PAUL RANAIVO.
</p>

<p><span style='font-size:18.0pt;mso-bidi-font-size:
16.0pt;font-family:"Monotype Corsiva";mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:"Times New Roman";color:#5B9BD5;mso-themecolor:accent1;
mso-fareast-language:FR;mso-bidi-font-weight:bold'>
Note: Les petits-enfants et arri&egrave;re-petits-enfants ne figurent pas ici. Si vous souhaitez les voir ou les revoir, veuillez vous reporter aux diff&eacute;rentes pages indiquant <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/page1.php">les organigrammes de chaque famille..</a> </span></p><br>


<p style='color:#8C0095'><b>Simplice RAZAFINDRAZAKA et RAZANABAHOAKA </b></p>

N'eurent pas d'enfant mais adopt&egrave;rent HELENE RASOANANTENAINA.<br>

<p>----------------------------------------------------------------------</p>

<b>Simplice Razafindrazaka + Razanabahoaka ===> 0 : </b><br>
<b>Helene Rasoanantenaina + Andriamady ===> 1 :</b><br>

Lalaniaina Andriamady.<br>

<b>Lalaniaina Andriamady + Rajaonarison ===> 9 :</b><br><br>
<b>1. Lala Rachelle Rajaonarison</b><br>
<b>Lala Rachelle Rajaonarison + Rafanomezantsoa ===> 3 :</b><br>

a) Ravaka Rafanomezantsoa.<br>
b) Haingomalala Rafanomezantsoa.<br>
c) Avotrin' Ny Aina Rajaonarison Rafanomezantsoa.<br><br>

<b>2. Norohanta Rajaonarison</b><br>
<b>Norohanta Rajaonarison + Pascal Ravoninjatovo ===> 4 :</b><br>

a) Sedra Ravoninjatovo b) Ando Ravoninjatovo c) Voara Ravoninjatovo d) Mirado Ravoninjatovo<br><br>

<b>3. Lantoniaina Rajaonarison</b><br>
<b>Lantoniaina Rajaonarison + Kiady Lalaina Randrianarisoa.</b><br><br>
<b>4. Hajaniaina Rajaonarison</b><br>
<b>Hajaniaina Rajaonarison + Hanitra Ramelinjanahary ===> 2 :</b></b><br>

a) Hajaniaina Ramelinjanahary<br>
b) Iantoniaina Ramelinjanahary<br><br>

<b>5. Andrianadinirina Rajaonarison</b><br>
<b>Andrianadinirina Rajaonarison + Helga Paola Mbolatiana Razafindrabe=>2</b><br>

a) Tiffany Rajaonarison<br>
b) Mickaela Rajaonarison<br><br>

<b>6. Mpanjatotiana Rajaonarison</b><br>
<b>Mpanjatotiana Rajaonarison + Rosny Rasoananahary ===> 1 :</b><br>

Andry Tiana Rajaonarison<br>

<b>7. Holiniaina Rajaonarison</b><br><br>
<b>Holiniaina Rajaonarison + Marotafika Haja Andriananja ===> 3 :</b><br>

a) Marotafika Heriniaina Andriananja<br>
b) Marotafika Holy Lalaina Andriananja<br>
c) Marotafika Ihasina Andriananja<br><br>

<b>8. Herizo Naharilalaina Rajaonarison.</b></br>
<b>9. Fidiarilala Rajaonarison</b></br>
Fidiarilala Rajaonarison + Lina Claudine Hantamahefa.<br>


<p><i>N.B. Les noms ci-dessus nous ont &eacute;t&eacute; communiqu&eacute;s par Rtoa Lalaniaina Andriamady en janvier 2015.</i></p>
<br>
<p>-------------------------------------------------------------------------</p>

<p style="color:#8C0095">Simplice RAZAFINDRAZAKA = fils de ANDRIANJOHANY.<br>

ANDRIANJOHANY = fr&egrave;re de RAFARAVAVY RASALAMA, dite "RASALAMA MARTIORA".
===> RASALAMA MARTIORA = tante de Simplice RAZAFINDRAZAKA.<br>

-----------------------------------------------</p>




<p><b style="color:#8C0095">Simplice RAZAFINDRAZAKA + Rtoa RAZANABAHOAKA ===> 0</b></p>

<p>Ils ont adopt&eacute; H&eacute;l&egrave;ne RASOANANTENAINA.</p><br>


----------------------------------------------<br>





<p style="color:#8C0095">ANDRIANJOHANY ===> 4:</><br>

<p>RAKOTOVAO.<br>
Simplice RAZAFINDRAZAKA<br>
Rtoa RAVAONIRINA (" Nenivao " ) .<br>
Rtoa RAMIRA.</p>

<p>------------------------------------------------</p><br>

<p style="color:#8C0095">1. RAKOTOVAO + Rtoa RAKETAMANGA ===> 6</p>

Justin RAZAKA (11.03.1885 - 12.03.1976)

<p>Berthine RAZAFINDRAFARA<br>
Juliette RATSIORIMISA<br>
RAKOTO BERT<br>
Jeannette RASOANALIMANANA<br>
Joseph RAVALISON</p>

<p>------------------------------------------------</p>

<p style="color:#8C0095">2. Simplice RAZAFINDRAZAKA + RAZANABAHAOKA ===> 0</p>

H&eacute;l&egrave;ne RASOANANTENAINA, enfant adopt&eacute;e<br>
<p>------------------------------------------------</p>

<p style="color:#8C0095">3. Rtoa RAVAONIRINA (Nenivao) + RAKOTOLAHY === 0</p>

<p>------------------------------------------------</p>

<p style="color:#8C0095">4. Rtoa RAMIRA + ANDRIANTSEHENO ===> 1</p>

Paul RANAIVO .

<p>_________________________________________</p>
<br>

<h3 style="color:#8C0095">A. <u>LES DESCENDANTS de RAKOTOVAO et de Rtoa RAKETAMANGA</u></h3>

<b style="color:#8C0095">I. Justin RAZAKA (11.03.1885 - 12.03.1976) + RAZANADRAIBE (10.10.1890 - 11.03.1964) ===> 8</b><br>

Justine RATSARAIBE<br>

<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/LalanirinaRAZANADRAIBE.php">Charles RAZAFINDRAKOTO</a> <br>
Louise RAZAFITSARA<br>
Henriette RAZAFINDRAKETAKA<br>

Claire RAHARISOA<br>
<a href="Izy_7_mianadahy_ANDRIAMANANA.php">Clarice RAFARASOA</a><br>
Suzanne RAHARILINA<br>
Marcel RAZAKA - RAZORILINA .<br>

<p>_________________________________________</p>

<b style="color:#8C0095">II . Berthine RAZAFINDRAFARA + Jean- Baptiste RAJAONARIVELO ===>1</b><br>

Denise Jeanne RAJAONARIVELO .<br>

<p>_________________________________________</p>

<b style="color:#8C0095">III . Juliette RATSIORIMISA + Justin RANARISON ===> 3</b>

<p>Edmond RAKOTOVAO<br>
Jeanne RAHARISOA<br>
Raymond RAHARISON</p>

<p>_________________________________________</p>

<b style="color:#8C0095">IV . RAKOTO BERT + Marguerite RAZAFINDRATAVY ===> 2</b>

<p><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">Willy RAMIRASON </a><br>
<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">M&eacute;d&eacute;ric REALISON</a></p>


<!--<b style="color:#8C0095">RAKOTO BERT + Meltine RAZAFIARISOA ( 2nde &eacute;pouse) ===> 2</b>

<p><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">Richard RABEMANANJARA</a><br>
<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">Clark RAZAKASOA</a></p>-->


<b style="color:#8C0095"> RAKOTO BERT et Meltine RAZAFIARISOA ( 2nde &eacute;pouse ).</b>
<br>
<p><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">1 . Richard RABEMANANJARA</a><br>
<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">2 . Clark RAZAKASOA</a></p>


<p>_________________________________________</p>

<b style="color:#8C0095">V. Jeannette RASOANALIMANANA + Fredy RAJAOFERA ===> 1</b>

<p>Lucienne RAFERAHARISOA</p>

<p>_________________________________________</p>

<b style="color:#8C0095">VI . <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">Joseph RAVALISON </a>+ F&eacute;licie RANOROSOA ===> 4</b>

<p>William RAVALISON<br>
L&eacute;on RAVALISON<br>
Laurette Yvonne RAVALISON<br>
Simone Odette RAVALISON</p>

<p>__________________________________________</p><br>
<b style="color:#8C0095">I. LES DESCENDANTS de Justin RAZAKA et RAZANADRAIBE</b><br><br>

<b style="color:#8C0095">1 . Justine RATSARAIBE + Ignace RAKOTOMAVO ===> 8</b>

<p>Samuel RAKOTONDRAZAKA ANDRIAMIAKATRA , Jean Roussel ANDRIAMIAKATRA, Lucie Berthe RAZAFINDRAINIBE, Julie C&eacute;line RATSIORY, Victorine Ang&eacute;line RAZAFIARISOA, Christine Agn&egrave;s RAZAFINDRAFARA , Monique Yvonne RAKOTOMAVO, L&eacute;a Volasoa ANDRIAMIAKATRA RAKOTOMAVO .</p><br>

<b style="color:#8C0095">2 . <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/LalanirinaRAZANADRAIBE.php">Charles RAZAFINDRAKOTO et Simonette Marcelle RAHARIMALALASOA</a> ===> 4</b>

<p>Lalanirina RAZANADRAIBE, Honor&eacute; Zakanirina RAZAFITSIAROVANA , Jean-Charles RAZAFINDRAKOTO, Hubert RAKOTOVAO .</p><br>

<b style="color:#8C0095">3 . Louise RAZAFITSARA + Lucien RAZAFINDRALAMBO ===> 6</b>

<p>Auguste RAZAFINDRALAMBO , Raymond RAZAFINDRALAMBO, Roger RAZAFINDRALAMBO, Lala RAZAFINDRALAMBO, R&eacute;mi RAZAFINDRALAMBO, Pierre RAZAFINDRALAMBO .</p><br>

<b style="color:#8C0095"> 4 . Henriette RAZAFINDRAKETAKA + RAKOTOARIVELO ===> 0</b><br><br>

<b style="color:#8C0095">5. Claire RAHARISOA + Jacques RABARIJAONA ===> 4</b>

<p>Julia RASENDRASOA, Rachel RAZANADRAIBE, JOSE, LYDIA .</p>

<br><b style="color:#8C0095">6 . <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Izy_7_mianadahy_ANDRIAMANANA.php">Clarice RAFARASOA et Denis ANDRIAMANANA </a>===> 9</b>

<p>Rodin ANDRIAMANANA, Jocelyne Aim&eacute;e ANDRIAMANANA, Fleury Odette ANDRIAMANANA , Guy G&eacute;rard ANDRIAMANANA, Eliane Brigitte ANDRIAMANANA, Alain Michel Lucien ANDRIAMANANA, Serge Patrick ANDRIAMANANA, Eddy Franck ANDRIAMANANA, Jean Mamy ANDRIAMANANA . </p>


<a href=http://www.ronsard-andriamanana.globalvision.mg/en/ronsard-andriamanana/denis-andriamanana.html>http://www.ronsard-andriamanana.globalvision.mg/en/ronsard-andriamanana/denis-andriamanana.html</a><br><br>

<b style="color:#8C0095">7 . Suzanne RAHARILINA ===> 10:</b><br>

<p>Suzette Michelle RAJAONARIVONY, Andr&eacute; Georges Jocelyn RAJAONARIVONY, Sylvie Ir&egrave;ne RAMBOARINA, Solange RAMANANJANAHARY, Sahondra RAMANANJANAHARY, Volasoa Suzanne RAMANANJANAHARY, Suzy Volamamy RAMANANJANAHARY, Simone Flore ANDRIANTSARA , Joella Saholy Lantonirina ANDRIANARIVELO, Alain RAKOTOARIVELO .</p>
<br>
<b style="color:#8C0095">8 . Marcel Razaka RAZORILINA + Manana RAMANAMBONINA ===> 3</b><br>

<p>Marcellin ANDRIANTSEHENO RAZAKAMAHEFA, Toky RAZAKAMAHEFA, Harizaka Tantely RAMANAMBONINA .</p>

<p>---------------------------------------------------------------------</p>
<br>
<h3 style="color:#8C0095">II . LES DESCENDANTS de Berthine RAZAFINDRAFARA et Jean- Baptiste RAJAONARIVELO</h3><br>

<b style="color:#8C0095">1 . Denise Jeanne RAJAONARIVELO + Raymond ANDRIAMASINORO ===> 6</b>

<p>Raymonde ANDRIAMASINORO , Colette ANDRIAMASINORO , Voahangy ANDRIAMASINORO , Lala ANDRIAMASINORO , Odile ANDRIAMASINORO, Marc ANDRIAMASINORO .</p>


<p>---------------------------------------------------------------------</p><br>

<b style="color:#8C0095">III . LES DESCENDANTS de Juliette RATSIORIMISA et Justin RANARISON</b><br><br>

<b style="color:#8C0095">1 . Edmond RAKOTOVAO + Pauline RAZANAMALALA ===> 3</b>

<p>Louis RAKOTOVAO , Olga RANARISON, Gis&egrave;le RANARISON .</p><br>

<b style="color:#8C0095">2 . Jeanne RAHARISOA + Pierre RAZAKANDRAINIBE ===> 4</b>

<p>Jean RAZAKANDRAINIBE, Guy RAZAKANDRAINIBE, G&eacute;rard RAZAKANDRAINIBE, Danielle RAZAKANDRAINIBE.</p><br>


<b style="color:#8C0095">3 . Raymond RAHARISON + Gis&egrave;le RAZANAPARANY ===> 4</b>

<p>Michelle RANARISON, Raymond Pierre RANARISON, Maryse RAHARISON, Mamy RAHARISON .<p>

<p>-------------------------------------------------------------------------</p><br>

<b style="color:#8C0095">IV . LES DESCENDANTS de RAKOTO BERT et Marguerite RAZAFINDRATAVY :</b><br><br>

<b style="color:#8C0095">1 .<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html"> Willy RAMIRASON </a> + Henriette RASOARIVELO ===> 7</b><br>

<p>Mira RABEARIVELO, Prisca RASOARIVELO, Martial RABEARIVELO, Brice RABEARIVELO, Dina RAMIRASON, Mirana RABEARIVELO, Lala RAZAFINDRATAVY . </p>

<b style="color:#8C0095">2 .<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html"> M&eacute;d&eacute;ric REALISON </a>+ Jeanne Aim&eacute;e RAKOTOMALALATIANA ===> 5</b><br>

<p>Mambinitsoa REALISON , Nirinarivo REALISON , Panarivoson REALISON , Tokimanarivo REALISON , Falimananarivo REALISON .</p>

<b style="color:#8C0095">LES DESCENDANTS de RAKOTO BERT et Meltine RAZAFIARISOA ( 2nde &eacute;pouse )</b><br>

1 . <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html"> Richard RABEMANANJARA</a><br>

2 . <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">Clark RAZAKASOA</a>


<p>--------------------------------------------------</p>

<br>
<b style="color:#8C0095">V. LES DESCENDANTS de Jeannette RASOANALIMANANA et Fredy RAJAOFERA :</b><br>
<br>

<b style="color:#8C0095">1 . Lucienne RAFERAHARISOA + Mamy Antonin RAMAROVELO ===> 6</b><br>


Jacques Fred RAMAROVELO, Jeanine RAMAROVELO, Bruno RAMAROVELO, Gabin RAMAROVELO, Alain RAMAROVELO, Anne Marie RAMAROVELO .<br>


<a href="http://rainizafimanga.free.fr/fr/Arbre/RAJAOFERA/br7_rajaoferaFredy.htm">http://rainizafimanga.free.fr/fr/Arbre/RAJAOFERA/br7_rajaoferaFredy.htm</a>

<p>-----------------------------------------------------------------------</p>
<br>
<b style="color:#8C0095">VI. LES DESCENDANTS de <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">Joseph RAVALISON </a>et F&eacute;licie RANOROSOA :</b><br><br>

<b style="color:#8C0095">1 . William RAVALISON + Odette ===> 6</b><br>


Noro, Guy, Sarah, M&eacute;mie, Yvon, Ninie.<br>

<b style="color:#8C0095">2 . L&eacute;on RAVALISON + Charlotte RANOROSOA ===> 3</b><br>


L&eacute;a RASOARISOA, Olivier RABARINIRINA, Hery ANDRIAMBOAVONJY.<br>


<b style="color:#8C0095">3 . Yvonne Laurette RAVALISON + Emilien Richard RASOLOMAMONJY ===> 2</b><br>
Nicole RAHARINIRINA , Sylvia RANOROSOA . <br>

<b style="color:#8C0095">4 . Simone Odette RAVALISON + Ren&eacute; RAHAJASON ===> 3</b><br>
Danny RAHAJASON, Julci&egrave;re RAHAJASON, Eva RAHAJASON.<br>

<br>


<p>____________________________________________</p><br>

<br>

<h3 style="color:#8C0095">B. LES DESCENDANTS de Rtoa RAMIRA et ANDRIANTSEHENO :</h3>

<br>

<!--<b style="color:#8C0095">B. LES DESCENDANTS de Rtoa RAMIRA et ANDRIANTSEHENO :</b><br>-->

<b style="color:#8C0095">I. Paul RANAIVO + RAFARA ===> 6</b><br>


H&eacute;l&egrave;ne RAVAOARINERA, Gabriel ANDRIANTSEHENO, Rtoa RAVALINISA, Jaona RAKOTOVAO, Rtoa RAHARIMISA, Samuel ANDRIAMIZAKA . <br>

<b style="color:#8C0095">1 . H&eacute;l&egrave;ne RAVAOARINERA + Joseph RABETSIMIALONA ===> 5</b><br>

Ren&eacute; RABETSIMIALONA, Jean Emmanuel RABETSIMIALONA, Raymond RABETSIMIALONA , Clermont RABETSIMIALONA, Perlyss Malalatiana RAVAOARINIRINA .<br>

<br><b style="color:#8C0095">2 . Gabriel ANDRIANTSEHENO + RAMASIARIVELO ===> 5</b><br>

Lalao Rapha&euml;l ANDRIANTSEHENO RAMASIARIVELO, Jacqueline Sahondra ANDRIANTSEHENO RAMASIARIVELO, Fara Dorette ANDRIANTSEHENO RAMASIARIVELO, Nivosarindra Gabine ANDRIANTSEHENO RAMASIARIVELO, Verosarindra Gabrielle ANDRIANTSEHENO RAMASIARIVELO . <br>

<br><b style="color:#8C0095">3 . Rtoa RAVALINISA + Pasteur RAKOTONDRAVOHITRA ===> 4</b><br>

Charlotte RATSIVERIHANTA ( " Bako " ), Lucien RAKOTONDRAVOHITRA, Daniel RAKOTONDRAVOHITRA, Mariette RAMIHANTAHARISOA .<br>

<br><b style="color:#8C0095">4 . Jaona RAKOTOVAO + Jeannelle RAZAIARISOA ===> 7</b><br>

Jaona Michel RAKOTOVAO , Lala Monique RANIVOARISOA , Liliane Holisoa RAVAOARIMANGA L&eacute;a Nivo RAFARATIANA , Lydia Ginette RAZAIARISOA ,Liva Jeannelle RASOAZANANY , Mbolatiana RAKOTOVAO .<br>
<br><b style="color:#8C0095">5. Rtoa RAHARIMISA + Charles RANDRIAMBOLOLONA ===> 6</b><br>

Charlotte RAHARIVOLOLONA, Ernest RANDRIAMBOLOLONA, Aim&eacute;e RAVOLONONTSOA , Charline RASOARIVOLOLONA, C&eacute;lestin ANDRIAMBOLOLONA, Rasalama RAVOLOLOMBOAHANGY .<br>

<br><b style="color:#8C0095">6 . Samuel ANDRIAMIZAKA.</b></br><br>

<h3 style="color:#8C0095">C. Rtoa RAVAONIRINA (" Nenivao " ) + RAKOTOLAHY ===> 0</h3>






<!--


<p><strong><u>N.B. Les petits-enfants et arri&egrave;re-petits-enfants n'apparaissent  pas ici. Si vous souhaitez les voir ou les revoir,&nbsp;veuillez vous&nbsp;reporter aux diff&eacute;rentes pages  indiquant&nbsp;</u></strong><strong><u><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/page1.php">les organigrammes de chaque famille.</a></u></strong></p>
<p><strong><u><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/page1.php"><br>
</a></u></strong></p>
<p><br>
  <strong>Les descendants de&nbsp;Simplice&nbsp;RAZAFINDRAZAKA,</strong> <br>
fils&nbsp;de ANDRIATSARAFARA, lequel est le fr&egrave;re de RAFARAVAVY  RASALAMA, alias &quot;RASALAMA MARTIORA&quot;.<strong>&nbsp;</strong>RASALAMA  MARTIORA est donc la tante de&nbsp;Simplice&nbsp;RAZAFINDRAZAKA. </p>
<p>&nbsp;</p>
<p><strong><u>Simplice</u></strong><strong><u>&nbsp;RAZAFINDRAZAKA&nbsp;  et&nbsp;Rtoa&nbsp;RAZANABAHOAKA  eurent 3 enfants:</u></strong> <br>
  <strong>RAKOTOVAO</strong> <br>
  <strong>ANDRIANTSEHENO</strong> <br>
  <strong>RAVAONIRINA (dite &quot;Nenivao&quot;)</strong>. </p>
<p>&nbsp;</p>
<p><strong><u>RAKOTOVAO  et&nbsp;Rtoa&nbsp;RAKETAMANGA  eurent 6 enfants:</u></strong> <br>
  <strong>Justin RAZAKA</strong> <br>
  <strong>Berthine</strong><strong>&nbsp;RAZAFINDRAFARA</strong> <br>
  <strong>Juliette RATSIORIMISA</strong> <br>
  <strong>RAKOTO BERT</strong> <br>
  <strong>Jeannette RASOANALIMANANA</strong> <br>
  <strong><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">Joseph RAVALISON</a>.</strong></p>
<p>&nbsp;</p>
<p><strong><u>ANDRIANTSEHENO  et&nbsp;Rtoa&nbsp;RAMIRA  eurent 1 enfant:</u></strong> <br>
  <strong>Paul RANAIVO.</strong></p>
<p>&nbsp;</p>
<p><strong><u>Rtoa</u></strong><strong><u>&nbsp;RAVAONIRINA  (&quot;Nenivao&quot;)  et RAKOTOLAHY:</u></strong> <br>
  <strong>Pas de descendants</strong> </p>
<p><br>
  _________________________________________ </p>
<p>&nbsp;</p>
<p><strong style="font-size:20px;"><u>A.  LES DESCENDANTS DE RAKOTOVAO et&nbsp;Rtoa&nbsp;RAKETAMANGA&nbsp;</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>I. Justin RAZAKA et RAZANADRAIBE eurent 8 enfants:</u></strong> <br>
  <strong>Justine RATSARAIBE</strong> <br>
  <strong><a href="LalanirinaRAZANADRAIBE.php">Charles RAZAFINDRAKOTO</a></strong> <br>
  <strong>Louise RAZAFITSARA</strong> <br>
  <strong>Henriette RAZAFINDRAKETAKA</strong> <br>
  <strong>Claire RAHARISOA</strong> <br>
  <strong>Clarice RAFARASOA</strong> <br>
  <strong>Suzanne RAHARILINA</strong> <br>
  <strong>Marcel RAZAKA-RAZORILINA.</strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>II.&nbsp;Berthine&nbsp;RAZAFINDRAFARA  et Jean-Baptiste RAJAONARIVELO eurent 1 enfant:</u></strong> <br>
  <strong>Denise Jeanne RAJAONARIVELO.</strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>III. Juliette RATSIORIMISA et Justin RANARISON eurent 3 enfants:</u></strong> <br>
  <strong>Edmond RAKOTOVAO</strong> <br>
  <strong>Jeanne RAHARISOA</strong> <br>
  <strong>Raymond RAHARISON.</strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>IV. RAKOTO BERT et Marguerite RAZAFINDRATAVY eurent 2 enfants</u></strong> <br>
  <strong><a href="rakotobert.html">Willy RAMIRASON</a></strong> <br>
  <strong><a href="rakotobert.html">M&eacute;d&eacute;ric REALISON</a></strong></p>
<p>&nbsp;</p>
<p><strong><u>RAKOTO BERT et&nbsp;Meltine  RAZAFIARISOA&nbsp;(&eacute;pouse en 2ndes noces) eurent 2 enfants:</u></strong></p>
<p><strong><a href="rakotobert.html">Richard RABEMANANJARA</a></strong> <br>
  <strong><a href="rakotobert.html">Clark RAZAKASOA</a></strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>V. Jeannette RASOANALIMANANA et&nbsp;Fredy&nbsp;RAJAOFERA eurent 1 enfant:</u></strong> <br>
  <strong>Lucienne RAFERAHARISOA</strong> </p>
<p><br>
  _________________________________________ </p>
<p><strong><u>VI.&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">Joseph RAVALISON</a>&nbsp;et  F&eacute;licie RANOROSOA eurent 4 enfants:</u></strong> <br>
  <strong>William RAVALISON</strong> <br>
  <strong>L&eacute;on RAVALISON</strong> <br>
  <strong>Yvonne Laurette RAVALISON</strong> <br>
  <strong>Simone Odette RAVALISON</strong> </p>
<p><br>
  __________________________________________ </p>
<p>&nbsp;</p>
<p><strong><u>I. LES DESCENDANTS de JUSTIN RAZAKA et RAZANADRAIBE</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>1. Justine RATSARAIBE et Ignace RAKOTOMAVO eurent 8 enfants:</u></strong> <br>
Samuel RAKOTONDRAZAKA  ANDRIAMIAKATRA, Jean Roussel ANDRIAMIAKATRA, Lucie Berthe RAZAFINDRAINIBE,  Julie C&eacute;line RATSIORY, Victorine Ang&eacute;line RAZAFIARISOA, Christine Agn&egrave;s  RAZAFINDRAFARA, Monique Yvonne RAKOTOMAVO, L&eacute;a&nbsp;Volasoa&nbsp;ANDRIAMIAKATRA RAKOTOMAVO.</p>
<p>&nbsp; </p>
<p><strong><u>2. <a href="LalanirinaRAZANADRAIBE.php">Charles RAZAFINDRAKOTO et Simonette Marcelle RAHARIMALALASOA</a> eurent 4 enfants:</u></strong> <br>
Lalanirina&nbsp;RAZANADRAIBE, Honor&eacute;&nbsp;Zakanirina&nbsp;RAZAFITSIAROVANA,  Jean-Charles RAZAFINDRAKOTO, Hubert RAKOTOVAO. </p>
<p>&nbsp;</p>
<p><strong><u>3. Louise RAZAFITSARA et Lucien RAZAFINDRALAMBO eurent 6 enfants:</u></strong> <br>
Auguste RAZAFINDRALAMBO, Lala  RAZAFINDRALAMBO, Raymond RAZAFINDRALAMBO, Roger RAZAFINDRALAMBO, R&eacute;mi  RAZAFINDRALAMBO, Pierre RAZAFINDRALAMBO. </p>
<p>&nbsp;</p>
<p><strong><u>4. Henriette RAZAFINDRAKETAKA et RAKOTOARIVELO&nbsp;</u></strong> <br>
  Pas de descendants. </p>
<p>&nbsp;</p>
<p><strong><u>5. Claire RAHARISOA et Jacques RABARIJAONA eurent 2 enfants:</u></strong> <br>
  Julia RASENDRASOA, Rachel  RAZANADRAIBE. </p>
<p>&nbsp;</p>
<p><strong><u>6.&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Izy_7_mianadahy_ANDRIAMANANA.php">Clarice RAFARASOA et Denis ANDRIAMANANA</a>&nbsp;eurent  9 enfants:</u></strong> <br>
Rodin ANDRIAMANANA, Jocelyne  Aim&eacute;e ANDRIAMANANA, Fleury Odette ANDRIAMANANA, Guy G&eacute;rard ANDRIAMANANA, Eliane  Brigitte ANDRIAMANANA, Alain Michel Lucien ANDRIAMANANA, Serge Patrick  ANDRIAMANANA, Eddy Franck ANDRIAMANANA, Jean Mamy ANDRIAMANANA. </p>
<p>&nbsp;</p>
<p>Veuillez&nbsp;cliquer&nbsp;ici&nbsp;&nbsp;<a href="http://www.ronsard-andriamanana.globalvision.mg/fr/famille-ronsard-andriamanana/famille-denis-andriamanana.html"><strong>http://www.ronsard-andriamanana.globalvision.mg/fr/famille-ronsard-andriamanana/famille-denis-andriamanana.html</strong></a> <br>
  pour&nbsp;de&nbsp;plus&nbsp;amples&nbsp;informations. </p>
<p>&nbsp;</p>
<p>&nbsp; </p>
<p><strong><u>7. Suzanne RAHARILINA eut 10 enfants:</u></strong> <br>
Suzette Michelle RAJAONARIVONY,&nbsp;Andr&eacute; Georges Jocelyn  RAJAONARIVONY,&nbsp;Sylvie Ir&egrave;ne RAMBOARINA,&nbsp;Solange RAMANANJANAHARY,&nbsp;SahondraRAMANANJANAHARY,&nbsp;Volasoa&nbsp;Suzanne  RAMANANJANAHARY,&nbsp;Volamamy&nbsp;Suzy  RAMANANJANAHARY,&nbsp;Simone Flore ANDRIANTSARA,&nbsp;&nbsp;SaholyLantonirina&nbsp;ANDRIANARIVELO,&nbsp;Alain  RAKOTOARIVELO. </p>
<p>&nbsp;</p>
<p><strong><u>8. Marcel RAZAKA RAZORILINA et&nbsp;Manana&nbsp;RAMANAMBONINA ===&gt; 3 enfants:</u></strong> <br>
  Marcellin&nbsp;ANDRIANTSEHENO RAZAKAMAHEFA,&nbsp;Toky&nbsp;RAZAKAMAHEFA,&nbsp;Harizaka&nbsp;Tantely&nbsp;RAMANAMBONINA. </p>
<p>&nbsp;</p>
<p><br>
  --------------------------------------------------------------------- </p>
<p><strong><u>II. LES DESCENDANTS de&nbsp;Berthine&nbsp;RAZAFINDRAFARA et Jean-Baptiste  RAJAONARIVELO</u></strong></p>
<p><strong><u>1. Denise Jeanne RAJAONARIVELO et Raymond ANDRIAMASINORO eurent 6  enfants</u></strong>: <br>
  Raymonde ANDRIAMASINORO,  Colette ANDRIAMASINORO,&nbsp;Voahangy&nbsp;ANDRIAMASINORO,  Lala ANDRIAMASINORO, Odile ANDRIAMASINORO, Marc ANDRIAMASINORO. </p>
<p><br>
  --------------------------------------------------------------------- </p>
<p><strong><u>III. LES DESCENDANTS de Juliette RATSIORIMISA et Justin RANARISON</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>1. Edmond RAKOTOVAO et Pauline RAZANAMALALA eurent 4 enfants:</u></strong> <br>
Louis RAKOTOVAO, Olga  RANARISON, Gis&egrave;le RANARISON, Ginette RANARISON. </p>
<p>&nbsp;</p>
<p><strong><u>2. Jeanne RAHARISOA et Pierre RAZAKANDRAINIBE eurent 4 enfants:</u></strong> <br>
Jean RAZAKANDRAINIBE, Guy  RAZAKANDRAINIBE, G&eacute;rard RAZAKANDRAINIBE, Danielle RAZAKANDRAINIBE. </p>
<p>&nbsp;</p>
<p><strong><u>3. Raymond RAHARISON et Gis&egrave;le RAZANAPARANY eurent 5 enfants:</u></strong> <br>
  Michelle RANARISON, Raymond  Pierre RANARISON, Franck Johny Harison RAZANAPARANY, Maryse RAHARISON, Mamy  RAHARISON. </p>
<p><br>
  ------------------------------------------------------------------------- </p>
<p>&nbsp;</p>
<p><strong><u>IV. LES DESCENDANTS de RAKOTO BERT et Marguerite RAZAFINDRATAVY:</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>1. <a href="rakotobert.html">Willy RAMIRASON</a> et Henriette RASOARIVELO eurent 7 enfants:</u></strong> <br>
  <strong>Mira RABEARIVELO, Prisca RASOARIVELO, Martial RABEARIVELO, Brice  RABEARIVELO, Dina RAMIRASON,&nbsp;Mirana&nbsp;RABEARIVELO, Lala RAZAFINDRATAVY.</strong></p>
<p>&nbsp;</p>
<p><strong>2.&nbsp;<u><a href="rakotobert.html">M&eacute;d&eacute;ric REALISON</a> et Jeanne Aim&eacute;e RAKOTOMALALATIANA  eurent 5 enfants:</u></strong> <br>
  <strong>Mambinitsoa</strong><strong>&nbsp;REALISON,&nbsp;Nirinarivo&nbsp;REALISON,&nbsp;Panarivoson&nbsp;REALISON,&nbsp;Tokimanarivo&nbsp;REALISON,&nbsp;Falimananarivo&nbsp;REALISON.</strong></p>
<p>&nbsp;</p>
<p><strong><u>LES DESCENDANTS de RAKOTO BERT et&nbsp;Meltine RAZAFIARISOA&nbsp;(&eacute;pouse en 2ndes noces)&nbsp;</u></strong> <br>
  <strong>1. <a href="rakotobert.html">Richard RABEMANANJARA</a> et  ............................................................................</strong> <br>
  <strong>2. <a href="rakotobert.html">Clark RAZAKASOA</a> et  .......................................................................................</strong> </p>
<p><br>
  ------------------------------------------------------------------------- </p>
<p>&nbsp;</p>
<p><strong><u>V. LES DESCENDANTS de Jeannette RASOANALIMANANA et&nbsp;Fredy&nbsp;RAJAOFERA:</u></strong></p>
<p>&nbsp;</p>
<p><strong><u>1. Lucienne RAFERAHARISOA et Mamy Antonin RAMAROVELO eurent 6  enfants:</u></strong> <br>
  Jacques Fred RAMAROVELO,  Jeanine RAMAROVELO, Bruno RAMAROVELO, Gabin RAMAROVELO, Alain RAMAROVELO, Anne  Marie RAMAROVELO. </p>
<p>&nbsp;</p>
<p>Cliquer ici&nbsp;<a href="http://rainizafimanga.free.fr/fr/Arbre/RAJAOFERA/br7_rajaoferaFredy.htm"><strong>http://rainizafimanga.free.fr/fr/Arbre/</strong><strong>RAJAOFERA/br7_rajaoferaFredy.</strong>html</a> <br>
  pour&nbsp;de plus amples  informations. </p>
<p>&nbsp;</p>
<p>------------------------------------------------------------------------ </p>
<p>&nbsp;</p>
<p><strong><u>VI.  LES DESCENDANTS de&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">Joseph RAVALISON</a>&nbsp;et  F&eacute;licie RANOROSOA:</u></strong></p>
<p><strong>1. William RAVALISON + Odette R ===&gt; 6 enfants:</strong> <br>
  <strong>Noro, Guy, Sarah, M&eacute;mie, Yvon, Ninie.</strong></p>
<p>&nbsp;</p>
<p><strong>2. L&eacute;on F&eacute;lix RAVALISON et Charlotte RANOROSOA ===&gt; 3 enfants:</strong> <br>
  <strong>L&eacute;a RASOARISOA, Olivier RABARINIRINA, &nbsp;Hery ANDRIAMBOAVONJY.</strong></p>
<p>&nbsp;</p>
<p><strong><u>3. Yvonne Laurette RAVALISON et Emilien Richard RASOLOMAMONJY  ===&gt; 2 enfants:</u></strong> <br>
  Nicole RAHARINIRINA, Sylvia  RANOROSOA. </p>
<p>&nbsp;</p>
<p><strong>4. Simone Odette RAVALISON et Ren&eacute; RAHAJASON ===&gt; 3 enfants:</strong> <br>
  <strong>Danny RAHAJASON, &nbsp;Julci&egrave;re RAHAJASON, Eva RAHAJASON.</strong> <br>
  </p>
<p><strong><br>
  </strong> <br>
  <strong>------------------------------------------------------------------------</strong> <br>
  <strong><br>
  </strong></p>
<strong style="font-size:20px;">B. LES DESCENDANTS&nbsp;de ANDRIANTSEHENO&nbsp;et&nbsp;Rtoa&nbsp;RAMIRA:</strong>
<p>&nbsp;</p>
<p><strong><u>I.  Paul RANAIVO et RAFARA eurent 6 enfants:</u></strong></p>
<p><strong>H&eacute;l&egrave;ne RAVAOARINERA, Gabriel ANDRIANTSEHENO, &nbsp;Rtoa&nbsp;RAVALINISA,&nbsp;Jaona&nbsp;RAKOTOVAO,&nbsp;Rtoa&nbsp;RAHARIMISA,  Samuel ANDRIAMIZAKA.</strong></p>
<p>&nbsp;</p>
<p><strong><u>1.  H&eacute;l&egrave;ne RAVAOARINERA et Joseph RABETSIMIALONA eurent 5 enfants:</u></strong></p>
<p><strong>Ren&eacute; RABETSIMIALONA, Jean Emmanuel RABETSIMIALONA, Raymond  RABETSIMIALONA,&nbsp;Clermond&nbsp;RABETSIMIALONA,&nbsp;Perlyss&nbsp;Malalatiana&nbsp;RAVAOARINIRINA.</strong></p>
<p>&nbsp;</p>
<p><strong><u>2.  Gabriel ANDRIANTSEHENO et RAMASIARIVELO eurent 6 enfants:</u></strong></p>
<p><strong>Jacqueline RAMASISAHONDRA  ANDRIANTSEHENO,&nbsp;</strong><strong>Raphael Lalao RAMASY  ANDRIANTSEHENO,&nbsp;Dorette Saholiarifara RAMASY ANDRIANTSEHENO,&nbsp;Mamiharisoa  D&eacute;sir&eacute;e RAMASY ANDRIANTSEHENO,&nbsp;Verosarindra Gabrielle RAMASY  ANDRIANTSEHENO,&nbsp;Nivosarindra Gabine RAMASY ANDRIANTSEHENO</strong></p>
<p>&nbsp;</p>
<p><strong><u>3.&nbsp;Rtoa&nbsp;RAVALINISA et  Pasteur RAKOTONDRAVOHITRA eurent 4 enfants:</u></strong></p>
<p><strong>Charlotte RATSIVERIHANTA (dite &quot;Bako&quot;), Lucien  RAKOTONDRAVOHITRA, Daniel RAKOTONDRAVOHITRA, Mariette RAMIHANTAHARISOA.</strong></p>
<p>&nbsp;</p>
<p><strong><u>4.&nbsp;Jaona&nbsp;RAKOTOVAO et&nbsp;Jeannelle&nbsp;RAZAIARISOA  eurent 7 enfants:</u></strong></p>
<p><strong>Jaona</strong><strong>&nbsp;Michel RAKOTOVAO, Lala Monique RANIVOARISOA, Liliane&nbsp;Holisoa&nbsp;RAVAOARIMANGA,  L&eacute;a Nivo RAFARATIANA, Lydia Ginette RAZAIARISOA,&nbsp;Liva&nbsp;Jeannelle&nbsp;RASOAZANANY,&nbsp;Mbolatiana&nbsp;RAKOTOVAO.</strong></p>
<p>&nbsp;</p>
<p><strong><u>5.&nbsp;Rtoa&nbsp;RAHARIMISA et  Charles RANDRIAMBOLOLONA eurent 6 enfants:</u></strong></p>
<p><strong>Charlotte RAHARIVOLOLONA, Ernest RANDRIAMBOLOLONA, Aim&eacute;e  RAVOLONONTSOA, Charline RASOARIVOLOLONA, C&eacute;lestin ANDRIAMBOLOLONA, RASALAMA  RAVOLOLOMBOAHANGY.</strong></p>
<p>&nbsp;</p>
<p><strong><u>6.  Samuel ANDRIAMIZAKA&nbsp;</u></strong></p>
<p><strong>Pas de descendants.</strong></p>
<p>&nbsp;</p>
<p>-----------------------------------------------------------------</p>
<p>&nbsp;</p>
<p><strong style="font-size:20px;">C.&nbsp;Rtoa&nbsp;RAVAONIRINA  (dite &quot;Nenivao&quot;)  et RAKOTOLAHY</strong></p>
<p><strong>Pas de descendants.</strong></p>
</strong>-->