/* CSS Document */

body
{
     background:url(../pictures/jpg/linen.jpg);
     border:none;
     font:100% Verdana, Arial, Helvetica, sans-serif;
     font-size:10px;
     margin:0px;
     padding-bottom:0px;
     padding-left:0px;
     padding-top:0px;
     padding-right:0px;
     text-align:center;
     vertial-align:middle;
}

.Fixed_Centered #container 
{
     -moz-border-radius: 15px;
     border: thin outset #999999;
     background: #CCCCCC;
     height: 60px;
     left: 50%;
     margin-left: -250px;
     margin-top: -30px;
     position: absolute;
     text-align: justify;
     top: 50%;
     width: 500px;
}
