<style type="text/css">
<!--
.Style3 {color: #FF0000}
.Style4 {color: #0000FF}
.Style5 {
	color: #FF0000;
	font-weight: bold;
}
.Style31 {	color: #FF0000;
	font-weight: bold;
}
.Style41 {	color: #0000FF;
	font-style: italic;
}
.Style51 {color: #FF0000}
-->
</style>
<body style="text-align: center; font-weight: normal;">
<p class="Style31"><u><strong>LA FAMILLE</strong></u><br>
  <br>
</p>
<p>1) ANDRIANJOHANY<br>
  2) RAKOTOVAO / SIMPLICE RAZAFINDRAZAKA / RAVAONIRINA / RAMIRA.<br>
3) JUSTIN RAZAKA / BERTHINE RAZAFINDRAFARA / JULIETTE RATSIORIMISA / RAKOTO BERT / JEANNETTE RASOANALIMANANA / JOSEPH RAVALISON / HELENE RASOANANTENAINA / PAUL RANAIVO.&nbsp;<br>
</p>
<div align="left"><strong>Note:</strong><em>Les petits-enfants et les arri&egrave;re-petits-enfants ne figurent pas ici. Si vous souhaitez les voir ou les revoir, veuillez vous reporter aux diff&eacute;rentes pages relatives &agrave; chaque famille. </em><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/page1.php">(les organigrammes de chaque famille..</a>).<br>
</div>
<div>
<br>
<br>
<div><strong><br>
  <u><span class="Style51">LES DESCENDANTS DE SIMPLICE RAZAFINDRAZAKA ET RAZANABAHOAKA</span></u></strong></div>
<p>Ils n'eurent pas d'enfants mais adopt&egrave;rent HELENE RASOANANTENAINA.</p>
<strong>--------------------------------------------------</strong><br>
<u><strong>Simplice Razafindrazaka + Razanabahoaka ===&gt; 0 :</strong></u><br>
<strong><br>
<u>Helene Rasoanantenaina + Andriamady ===&gt; 1 :</u></strong><br>
<p>Lalaniaina Andriamady.</p>
<p><u><strong>Lalaniaina Andriamady + Rajaonarison ===&gt; 9 :</strong></u></p>
<p><u><strong>1. Lala Rachelle Rajaonarison.</strong></u><br>
  <strong>Lala Rachelle Rajaonarison + Rafanomezantsoa ===&gt; 3 :</strong><br>
a) Ravaka Rafanomezantsoa.<br>
b) Haingomalala Rafanomezantsoa.<br>
c) Avotrin' Ny Aina Rajaonarison Rafanomezantsoa.<br>
<strong><br>
<u>2. Norohanta Rajaonarison.</u></strong><br>
<strong>Norohanta Rajaonarison + Pascal Ravoninjatovo ===&gt; 4 :</strong><br>
a) Sedra Ravoninjatovo&nbsp;<br>
  b) Ando Ravoninjatovo&nbsp;<br>
  c) Voara Ravoninjatovo&nbsp;<br>
d) Mirado Ravoninjatovo.</p>
<p><strong><br>
</strong><u><strong>3. Lantoniaina Rajaonarison.</strong></u><br>
<br>
Lantoniaina Rajaonarison + Kiady Lalaina Randrianarisoa.<br>
<strong><br>
<u>4. Hajaniaina Rajaonarison.</u></strong><br>
<strong>Hajaniaina Rajaonarison + Hanitra Ramelinjanahary ===&gt; 2 :</strong><br>
a) Hajaniaina Ramelinjanahary<br>
b) Iantoniaina Ramelinjanahary.</p>
<p><u><strong>5. Andrianadinirina Rajaonarison.</strong></u><br>
  <strong>Andrianadinirina Rajaonarison + Helga Paola Mbolatiana Razafindrabe =&gt;2:&nbsp;</strong><br>
a) Tiffany Rajaonarison<br>
b) Mickaela Rajaonarison.<br>
<strong><br>
<u>6. Mpanjatotiana Rajaonarison.</u></strong><br>
<strong>Mpanjatotiana Rajaonarison + Rosny Rasoananahary ===&gt; 1 :</strong><br>
Andry Tiana Rajaonarison.<br>
<strong><br>
<u>7. Holiniaina Rajaonarison.</u></strong><br>
<strong>Holiniaina Rajaonarison + Marotafika Haja Andriananja ===&gt; 3 :</strong><br>
a) Marotafika Heriniaina Andriananja<br>
b) Marotafika Holy Lalaina Andriananja<br>
c) Marotafika Ihasina Andriananja.<br>
<strong><br>
<u>8. Herizo Naharilalaina Rajaonarison.</u></strong><br>
<u><strong><br>
9. Fidiarilala Rajaonarison.</strong></u><br>
<strong>Fidiarilala Rajaonarison + Lina Claudine Hantamahefa.&nbsp;<br>
<br>
Les noms ci-dessus nous ont &eacute;t&eacute; communiqu&eacute;s par Rtoa Lalaniaina Andriamady en janvier 2015.</strong><br>
<em><strong> </strong></em>-------------------------------------------------------------------<br>
<u><strong>Simplice RAZAFINDRAZAKA = fils de ANDRIANJOHANY.</strong></u><br>
<br>
ANDRIANJOHANY = fr&egrave;re de RAFARAVAVY RASALAMA, dite "RASALAMA MARTIORA".<br>
===&gt; Simplice RAZAFINDRAZAKA est le neveu de RASALAMA MARTIORA.<br>
-------------------------------------------------------------------<br>
<u><strong>Simplice RAZAFINDRAZAKA + RAZANABAHOAKA ===&gt; 0</strong></u><br>
H&eacute;l&egrave;ne RASOANANTENANINA, enfant adopt&eacute;e.<br>
<strong><u><br>
ANDRIANJOHANY ===&gt; 4:</u></strong><br>
RAKOTOVAO.<br>
Simplice RAZAFINDRAZAKA<br>
Rtoa RAVAONIRINA (" Nenivao " )&nbsp;<br>
Rtoa RAMIRA.<br>
<strong><br>
<u>RAKOTOVAO + Rtoa RAKETAMANGA ===&gt; 6:</u></strong><br>
1. JUSTIN RAZAKA (11.03.1885 - 12.03.1976).<br>
2. BERTINE RAZAFINDRAFARA.<br>
3. JULIETTE RATSIORIMISA.<br>
4. RAKOTO BERT.<br>
5. JEANNETTE RASOANALIMANANA.<br>
6. JOSEPH RAVALISON.</p>
<p><strong><u>Simplice RAZAFINDRAZAKA + Rtoa RAZANABAHOAKA ===&gt; 0</u></strong><br>
  H&eacute;l&egrave;ne RASOANANTENANINA, enfant adopt&eacute;e.<br>
  <br>
  <u><strong>Rtoa RAVAONIRINA + RAKOTOLAHY ===&gt; 0</strong><br>
  <br>
  <strong>Rtoa RAMIRA + ANDRIANTSEHENO ===&gt; 1:</strong></u><br>
  PAUL RANAIVO.<br>
  ____________________________________________<br>
</p>
<p><u><strong><br>
</strong></u><u><span class="Style31">A. LES DESCENDANTS de RAKOTOVAO et Rtoa RAKETAMANGA</span></u><br>
</p>
<p><u><strong>1. JUSTIN RAZAKA (11.03.1885 - 12.03.1976) + RAZANADRAIBE (10.10.1890 - 11.03.1964) ===&gt; 8:</strong></u><br>
  JUSTINE RATSARAIBE.<br>
  <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/LalanirinaRAZANADRAIBE.php">CHARLES RAZAFINDRAKOTO</a>.<br>
  LOUISE RAZAFITSARA.<br>
  HENRIETTE RAZAFINDRAKETAKA.<br>
  CLAIRE RAHARISOA.<br>
  <a href="http://simplicerazafindrazaka.rosesetbaobab.com/Izy_7_mianadahy_ANDRIAMANANA.php">CLARICE RAFARASOA</a>.<br>
  SUZANNE RAHARILINA.<br>
MARCEL RAZAKA RAZORILINA.<br>
<br>
  <u><strong>2. BERTHINE RAZAFINDRAFARA + JEAN-BAPTISTE RAJAONARIVELO ===&gt; 1:</strong></u></p>
<p>DENISE JEANNE RAJAONARIVELO.</p>
<strong><br>
<u>3. JULIETTE RATSIORIMISA + JUSTIN RANARISON ===&gt; 3:</u></strong>
<p>EDMOND RAKOTOVAO.<br>
  JEANNE RAHARISOA.<br>
  RAYMOND RAHARISON.</p>
<u><strong>4. RAKOTO BERT + MARGUERITE RAZAFINDRATAVY ===&gt; 2:</strong></u>
<p><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html" >WILLY RAMIRASON.</a>&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">MEDERIC REALISON.</a></p>
<br>
<strong><u>4'. RAKOTO BERT + MELTINE RAZAFIARISOA ===&gt; 2:</u></strong>
<p><a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">RICHARD RABEMANANJARA.</a><br>
  <a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">CLARK RAZAKASOA.</a></p>
<br>
<strong>5. JEANNETTE RASOANALIMANANA + FREDY RAJAOFERA ===&gt; 1</strong>:
<p>LUCIENNE RAFERAHARISOA.</p>
<br>
<strong>6.&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Joseph_Ravalison.php">JOSEPH RAVALISON</a>&nbsp;+ FELICIE RANOROSOA ===&gt; 4:</strong>
<p>WILLIAM RAVALISON.<br>
  LEON RAVALISON.<br>
  YVONNE LAURETTE RAVALISON.<br>
  SIMONE ODETTE RAVALISON.</p>
<br>
<strong><u><span class="Style51">I. LES DESCENDANTS de JUSTIN RAZAKA et RAZANADRAIBE: :&nbsp;</span></u><br>
<br>
<u>1. JUSTINE RATSARAIBE + IGNACE RAKOTOMAVO ===&gt; 8:</u></strong>
<p>SAMUEL RAKOTONDRAZAKA ANDRIAMIAKATRA<br>
  JEAN ROUSSEL ANDRIAMIAKATRA<br>
  LUCIE BERTHE RAZANADRAIBE<br>
  JULIE CELINE RATSIORY<br>
  VICTORINE ANGELINE RAZAFIARISOA<br>
  CHRISTINE AGNES RAZAFINDRAFARA<br>
  MONIQUE YVONNE RAKOTOMAVO<br>
  LEA VOLASOA ANDRIAMIAKATRA RAKOTOMAVO.</p>
<br>
<strong><u>2.&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/LalanirinaRAZANADRAIBE.php">CHARLES RAZAFINDRALAMBO + SIMONETTE MARCELLE RAHARIMALALASOA&nbsp;</a>===&gt; 4:</u></strong>
<p>LALANIRINA RAZANADRAIBE<br>
  HONORE ZAKANIRINA RAZAFITSIAROVANA<br>
  JEAN CHARLES RAZAFINDRAKOTO<br>
  HUBERT RAKOTOVAO.</p>
<br>
<u><strong>3. LOUISE RAZAFITSARA + LUCIEN RAZAFINDRALAMBO ===&gt; 6:</strong></u>
<p>AUGUSTE RAZAFINDRALAMBO<br>
  RAYMOND RAZAFINDRALAMBO<br>
  ROGER RAZAFINDRALAMBO<br>
  LALA RAZAFINDRALAMBO<br>
  REMI RAZAFINDRALAMBO<br>
  PIERRE RAZAFINDRALAMBO</p>
<br>
<u><strong>4. HENRIETTE RAZAFINDRAKETAKA + RAKOTOARIVELO ===&gt; 0:&nbsp;<br>
<br>
5. CLAIRE RAHARISOA + JACQUES RABARIJAONA ===&gt; 4:</strong></u>
<p>JULIE RASENDRASOA<br>
  RACHEL RAZANADRAIBE<br>
  JOSE<br>
  LYDIA</p>
<br>
<u><strong>6.<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/Izy_7_mianadahy_ANDRIAMANANA.php">&nbsp;CLARICE RAFARASOA + DENIS ANDRIAMANANA&nbsp;</a>===&gt; 9:</strong></u>
<p>RODIN ANDRIAMANANA<br>
  JOCELYNE AIMEE ANDRIAMANANA<br>
  FLEURY ODETTE ANDRIAMANANA<br>
  GUY GERARD ANDRIAMANANA<br>
  ELIANE BRIGITTE ANDRIAMANANA<br>
  ALAIN MICHEL LUCIEN ANDRIAMANANA<br>
  SERGE PATRICK ANDRIAMANANA<br>
  EDDY FRANCK ANDRIAMANANA<br>
  JEAN MAMY ANDRIAMANANA</p>
<br>
<strong>Autre lien</strong>: <a href="http://www.ronsard-andriamanana.globalvision.mg/mg/fianakaviani-ronsard-andriamanana/fianakaviani-denis-andriamanana.html">Denis Andriamanana</a>&nbsp;<br>
<br>
<u><strong>7. SUZANNE RAHARILINA ====&gt; 10:&nbsp;</strong></u><br>
<p>SUZETTE MICHELLE RAJAONARIVONY<br>
  ANDRE GEORGES JOCELYN RAJAONARIVONY<br>
  SYLVIE IRENE RAMBOARINA<br>
  SOLANGE RAMANANJANAHARY<br>
  SAHONDRA RAMANANJANAHARY<br>
  VOLASOA SUZANNE RAMANANJANAHARY<br>
  VOLAMAMY SUZY RAMANANJANAHARY<br>
  SIMONE FLORE ANDRIANTSARA<br>
  JOELLA SAHOLY LANTONIRINA ANDRIANARIVELO<br>
  ALAIN RAKOTOARIVELO</p>
<p><br>
  <u><strong>8. MARCEL RAZAKA RAZORILINA + MANANA RAMANAMBONINA ===&gt; 3:</strong></u><br>
  <br>
  MARCELLIN ANDRIANTSEHENO RAZAKAMAHEFA<br>
TOKY RAZAKAMAHEFA<br>
HARIZAKA TANTELY RAMANAMBONINA </p>
<p><br>
  <u><span class="Style51"><strong>II . LES DESCENDANTS de Berthine RAZAFINDRAFARA et Jean- Baptiste RAJAONARIVELO&nbsp;</strong></span><strong><br>
  <br>
  DENISE JEANNE RAJAONARIVELO + RAYMOND ANDRIAMASINORO ===&gt; 6:</strong></u>
</p>
<p>RAYMONDE ANDRIAMASINORO<br>
  COLETTE ANDRIAMASINORO<br>
  VOAHANGY ANDRIAMASINORO<br>
  LALA ANDRIAMASINORO<br>
  ODILE ANDRIAMASINORO<br>
MARC ANDRIAMASINORO</p>
<br>
<u><strong><span class="Style51">III . LES DESCENDANTS de Juliette RATSIORIMISA et Justin RANARISON </span><br>
<br>
1. EDMOND RAKOTOVAO + PAULINE RAZANAMALALA ===&gt; 3:</strong></u>
<p>LOUIS RAKOTOVAO<br>
  OLGA RANARISON<br>
  GISELE RANARISON</p>
<br>
<u><strong>2. JEANNE RAHARISOA + PIERRE RAZAKANDRAINIBE ===&gt; 4:</strong></u>
<p>JEAN RAZAKANDRAINIBE<br>
  GUY RAZAKANDRAINIBE<br>
  GERARD RAZAKANDRAINIBE<br>
  DANIELLE RAZAKANDRAINIBE</p>
<br>
<u><strong>3. RAYMOND RAHARISON + GISELE RAZANAPARANY ===&gt; 4:</strong></u>
<p>MICHELLE RANARISON<br>
  RAYMOND PIERRE RANARISON<br>
  MARYSE RAHARISON<br>
  MAMY RAHARISON</p>
<strong><br>
</strong> <u><span class="Style51"><strong>IV. LES DESCENDANTS de RAKOTO BERT et Marguerite RAZAFINDRATAVY  </strong></span></u><br>
<br>
<strong>1.&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">WILLY RAMIRASON&nbsp;</a>+ HENRIETTE RASOARIVELO ===&gt; 7:</strong><br>
<p>MIRA RABEARIVELO<br>
  PRISCA RASOARIVELO<br>
  MARTIAL RABEARIVELO<br>
  BRICE RABEARIVELO<br>
  DINA RAMIRASON<br>
  MIRANA RABEARIVELO<br>
  LALA RAZAFINDRATAVY</p>
<br>
<strong>2.&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">MEDERIC REALISON&nbsp;</a>+ JEANNE AIMEE RAKOTOMALALATIANA ===&gt; 5:</strong><br>
<p>MAMBINITSOA REALISON<br>
  NIRINARIVO REALISON<br>
  PANARIVOSON REALISON<br>
  TOKIMANARIVO REALISON<br>
  FALIMANANARIVO REALISON</p>
<strong><br>
</strong><strong><u>LES DESCENDANTS de </u></strong><u><strong>RAKOTO BERT et Meltine RAZAFIARISOA ( 2nde &eacute;pouse )</strong></u><br>
<br>
1 .&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">Richard RABEMANANJARA</a><br>
2 .&nbsp;<a href="http://simplicerazafindrazaka.rosesetbaobab.com/fr/rakotobert.html">Clark RAZAKASOA</a><br>
<br>
<u><span class="Style51"><strong>V. LES DESCENDANTS de Jeannette RASOANALIMANANA et Fredy RAJAOFERA </strong></span></u><br>
<br>
<u><strong>LUCIENNE RAFERAHARISOA + MARC ANTONIN RAMAROVELO ===&gt; 6:</strong></u><br>
<p>JACQUES FRED RAMAROVELO<br>
  JEANINE RAMAROVELO<br>
  BRUNO RAMAROVELO<br>
  GABIN RAMAROVELO<br>
  ALAIN RAMAROVELO<br>
  ANNE MARIE RAMAROVELO</p>
<a href="http://rainizafimanga.free.fr/fr/Arbre/RAJAOFERA/br7_rajaoferaFredy.htm">http://rainizafimanga.free.fr/fr/Arbre/RAJAOFERA/br7_rajaoferaFredy.htm</a><strong><br>
<br>
<u><span class="Style51">VI. LES DESCENDANTS de Joseph RAVALISON et F&eacute;licie RANOROSOA </span></u></strong><br>
<br>
<u><strong>1. WILLIAM RAVALISON + ODETTE ===&gt; 6:</strong></u><br>
<p>NORO, GUY, SARAH, MEMIE, YVON, NINIE</p>
<br>
<u><strong>2. LEON RAVALISON + CHARLOTTE RANOROSOA ===&gt; 3:</strong></u>
<p>LEA RASOARISOA<br>
OLIVIER RABARINIRINA<br>
HERY ANDRIAMBOAVONJY</p>
<br>
<u><strong>3. YVONNE LAURETTE RAVALISON + RICHARD RASOLOMAMONJY ==&gt; 2:</strong></u>
<p>NICOLE RAHANIRINA<br>
  SYLVIA RANOROSOA</p>
<br>
<u><strong>4. SIMONE ODETTE RAVALISON + RENE RAHAJASON ===&gt; 3:</strong></u>
<p>DANNY RAHAJASON<br>
  JULCIERE RAHAJASON<br>
  EVA RAHAJASON<br>
  <br>
  <u><span class="Style31">B. LES DESCENDANTS de Rtoa RAMIRA et ANDRIANTSEHENO</span></u><br>
  <br>
  <u><strong>I. Paul RANAIVO + RAFARA ===&gt; 6</strong></u><br>
  <br>
  H&eacute;l&egrave;ne RAVAOARINERA,&nbsp;<br>
  Gabriel ANDRIANTSEHENO,&nbsp;<br>
  Rtoa RAVALINISA,&nbsp;<br>
  Jaona RAKOTOVAO,&nbsp;<br>
  Eug&eacute;nie RAHARIMISA,&nbsp;<br>
  Samuel ANDRIAMIZAKA .<br>
  <br>
  <u><strong>1 . H&eacute;l&egrave;ne RAVAOARINERA + Joseph RABETSIMIALONA ===&gt; 5</strong></u><br>
  <br>
  Ren&eacute; RABETSIMIALONA,&nbsp;<br>
  Jean Emmanuel RABETSIMIALONA,&nbsp;<br>
  Raymond RABETSIMIALONA ,&nbsp;<br>
  Clermont RABETSIMIALONA,&nbsp;<br>
  Perlyss MalalatianaRAVAOARINIRINA .&nbsp;<br>
  <br>
  <u><strong>2 . Gabriel ANDRIANTSEHENO + RAMASIARIVELO ===&gt; 5</strong></u><br>
  <br>
  Lalao Rapha&euml;l ANDRIANTSEHENO RAMASIARIVELO,&nbsp;<br>
  Jacqueline Sahondra ANDRIANTSEHENO RAMASIARIVELO,&nbsp;<br>
  Fara Dorette ANDRIANTSEHENO RAMASIARIVELO,&nbsp;<br>
  Nivosarindra Gabine ANDRIANTSEHENO RAMASIARIVELO,&nbsp;<br>
  Verosarindra Gabrielle ANDRIANTSEHENO RAMASIARIVELO .&nbsp;<br>
  <br>
  <u><strong>3 . Rtoa RAVALINISA + Pasteur RAKOTONDRAVOHITRA ===&gt; 4</strong></u><br>
  <br>
  Charlotte RATSIVERIHANTA ( " Bako " ),&nbsp;<br>
  Lucien RAKOTONDRAVOHITRA,&nbsp;<br>
  Daniel RAKOTONDRAVOHITRA,&nbsp;<br>
  Mariette RAMIHANTAHARISOA .<br>
  <br>
  <u><strong>4 . Jaona RAKOTOVAO + Jeannelle RAZAIARISOA ===&gt; 7</strong></u><br>
  <br>
  Jaona Michel RAKOTOVAO ,&nbsp;<br>
  Lala Monique RANIVOARISOA ,&nbsp;<br>
  Liliane Holisoa RAVAOARIMANGA&nbsp;<br>
  L&eacute;a Nivo RAFARATIANA ,&nbsp;<br>
  Lydia Ginette RAZAIARISOA ,<br>
  Liva Jeannelle RASOAZANANY ,&nbsp;<br>
  Mbolatiana RAKOTOVAO .&nbsp;<br>
  <br>
  <u><strong>5. Eug&eacute;nie RAHARIMISA + Charles RANDRIAMBOLOLONA ===&gt; 6</strong></u><br>
  <br>
  Charlotte RAHARIVOLOLONA,&nbsp;<br>
  Ernest RANDRIAMBOLOLONA,&nbsp;<br>
  Aim&eacute;e RAVOLONONTSOA ,&nbsp;<br>
  Charline RASOARIVOLOLONA,&nbsp;<br>
  C&eacute;lestin ANDRIAMBOLOLONA,&nbsp;<br>
  Rasalama RAVOLOLOMBOAHANGY .&nbsp;<br>
  <br>
  <strong>6 . Samuel ANDRIAMIZAKA.</strong><br>
  <br>
  <u><span class="Style31">C.&nbsp;Rtoa RAVAONIRINA (" Nenivao " ) + RAKOTOLAHY ===&gt; 0</span></u><br>
_______________________________________________________</p>
